.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}

.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px; 
    margin:10px; 
    background:#f1f1f1; 
    color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
}

.MultiCarousel .leftLst { 
    left:0; 
}

.MultiCarousel .rightLst { 
    right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc; 
}

.card-link{
    color: darkslategray;
}

.glyphicon-heart-empty{
    color: grey !important;
}

.glyphicon-heart{
    color: red !important;
}

.border-right{
    border-right: 2px  solid rgb(146, 146, 146);
}

.width-18{
    width: 18rem;
}

.width-50{
    width: 50% !important; 
}

.width-70{
    width: 70% !important; 
}

.bottom-1{
    margin-bottom: 1em;
}

.top-1{
    margin-top: 1em;
}

.col-37-5{
    width:37.5% !important;
}

h4{
    text-align: center;
}

.p-justified{
    text-align: justify;
}

.fa-heart{
    color:rgb(255, 193, 6);
}

.item-center{
    margin:0;
}

.black{
    color: black;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    /* position: absolute;
    bottom: 0; */
    margin-top: auto;
    width: 100%;
}

.profile_pic{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.carroussel-img{
    height: 300px;
    object-fit: cover;
}

.detail_pic{
    /* width: 200px; */
    height: 300px;
    object-fit: cover;
}

.no_decoration{
    text-decoration: none;
}

.full-width{
    width: 100%;
}

.white-color{
    color:rgb(255, 255, 255);
}

.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* GIRDVIEW LISTE MEDIAS
 SOURCE: https://codepen.io/dudleystorey/pen/yqrhw */

    #columns {
        column-width: 180px;
        column-gap: 15px;
        width: 90%;
        max-width: 1100px; 
        margin: 25px auto;
    }

    div#columns figure {
        background: #fefefe;
        border: 2px solid #fcfcfc;
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
        margin: 0 2px 15px;
        padding: 15px;
        padding-bottom: 10px;
        transition: opacity .4s ease-in-out;
        display: inline-block;
        break-inside: avoid;
    }

    div#columns figure img {
        width: 150px;
        height: 225px;
        object-fit: cover;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
    width: 150px;
    text-overflow: ellipsis;
    }

    div#columns:hover figure:not(:hover) {
        opacity: 0.4;
    }

    @media screen and (max-width: 750px) { 
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
    }

/* PAGINATION
SOURCE: https://codepen.io/robertcooper_rc/pen/XeabLa */
