.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}

.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px; 
    margin:10px; 
    background:#f1f1f1; 
    color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
}

.MultiCarousel .leftLst { 
    left:0; 
}

.MultiCarousel .rightLst { 
    right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc; 
}

.card-link{
    color: darkslategray;
}

.glyphicon-heart-empty{
    color: grey !important;
}

.glyphicon-heart{
    color: red !important;
}

.border-right{
    border-right: 2px  solid rgb(146, 146, 146);
}

.width-18{
    width: 18rem;
}

.width-50{
    width: 50% !important; 
}

.width-70{
    width: 70% !important; 
}

.bottom-1{
    margin-bottom: 1em;
}

.col-37-5{
    width:37.5% !important;
}

h4{
    text-align: center;
}

.p-justified{
    text-align: justify;
}

.fa-heart{
    color:rgb(255, 193, 6);
}

.item-center{
    margin:0;
}

.black{
    color: black;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    /* position: absolute;
    bottom: 0; */
    margin-top: auto;
    width: 100%;
}

.profile_pic{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.carroussel-img{
    height: 300px;
    object-fit: cover;
}